.mainContent {
  width: 100%;
  min-height: 38.75rem;
  border-radius: $border-radius-default;
  background-image: url('@/assets/images/gradient-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: $box-shadow-big;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25rem 2rem;
  text-align: center;

  .face {
    @include center;
    border-radius: 50%;
    background-color: $color-alto;
    padding: 1rem;
    width: 12rem;
    height: 12rem;
    box-shadow: 0 0.25rem 0.25rem $color-black-tranparent-25;
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -1.25rem;

    img {
      border: 0.313rem solid $color-white;
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      width: 1.25rem;
      height: 1.25rem;
      border: 0.063rem solid $color-san-marino;
      top: -0.625rem;
      left: 46%;
      z-index: 0;
      border-bottom: none;
      border-right: none;
      transform: rotate(45deg);
    }
    &:before {
      content: '';
      position: absolute;
      width: 0.313rem;
      height: 0.313rem;
      top: -0.875rem;
      left: 50%;
      z-index: 5;
      border-radius: 50% 50%;
      background: $color-alto;
    }

    img {
      width: 8.375rem;
      height: 8.375rem;
      box-shadow: -0.25rem 0.25rem 0.25rem $color-black-tranparent-25;
      border-radius: 50%;
    }
  }

  .paragraph {
    font-size: 1.25rem;
    font-weight: 100;
    padding-block: 2rem;
    text-wrap: balance;
  }
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@media (min-width: $breakpoint-md) {
  .mainContent {
    padding: 2.25rem 4rem;
    .paragraph {
      font-size: 1.75rem;
    }
  }
}
